<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About me</h2>
<div class="summary">
    <p> I have been always passionate about biodiversity. I completed my BSc. degree in Biology at 
        <a href="#" target="https://www.usfq.edu.ec/Paginas/Inicio.aspx">Universidad San Francisco de Quito (USFQ)</a>
        with a minor in Environmental Management in 2013. Doing my degree in Ecuador, allowed my to experience biodiversity at close proximity and
        participate in a variety of biodiversity-related projects ranging from microbes to whales. However, for my final BSc. research project 
        I decided to study the effects of an altitudinal gradient on the community strucuture of araneid spiders in the northern Andes of Ecuador. 
        After completing my Bachelor's degree, I worked first as a freelance consultant for different conservation - related projects for the PNUD 
        and the Ecuadorian Ministry of Environment. After this short experience in the public sector, I went back to USFQ to work in the Terrestrial Zoology Lab. There, amongst other tasks,
        I contributed to the Red List Assesment of endemic ecuadorian reptiles, birds and amphibian species.
        As I had decided to keep on with an academic career I started a MSc. in Biological Sciences, track Ecology and  Evolution at the University of Amsterdam (UvA) in 2015. 
        At UvA I joined to the Theorethical Ecology Group where I concentrate my research efforts in the study of species interaction networks, focusing in palm - frugivore seed dispersal interactions. 
        Additionally, I have gained an interest in the use of programming and computational tools for research in Ecology.</p>
</div><!--//summary-->
</section><!--//section-->
