<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About me</h2>
<div class="summary">
    <p> I'm a Biologist, Ecologist born in Ecuador. Studying a Biology degree in a megadiverse country like mine, allowed my to experience biodiversity at close proximity. 
        During my BSc. studies I participated in a variety of biodiversity-related projects ranging from microbes to whales. However, for my final BSc. research project 
        I studied the community composition of araneid spiders (Araneidae) in the northern Andes of Ecuador along a broad altitudinal gradient. 
        After completing my Bachelor's degree, I worked a short period as a freelance consultant for the public sector in different conservation - related projects. 
        After this experience, I move to work in the Terrestrial Zoology Lab at USFQ to contribute in the IUCN Red List Assesment of endemic ecuadorian reptiles and among other tasks,
        I classified and curated museum collections of spiders specimens.   
        Keeping on with my academic career, I pursued a MSc. in Biological Sciences, track Ecology and Evolution at the University of Amsterdam (UvA). 
        At UvA I joined the Theorethical Ecology Group where I concentrated my research efforts in the study of species interaction networks, focusing in palm - frugivore seed dispersal interactions. 
        Additionally, I have gained an interest in the use of programming and computational tools for research in Ecology.</p>
</div><!--//summary-->
</section><!--//section-->
