<section class="section conferences-section">
                <h2 class="section-title"><i class="fa fa-users"></i> Participation in conferences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Netherlands Annual Ecology Meeting</h3>
                            <div class="time">Feb 2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Poster</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> Gabriel Muñoz & W. Daniel Kissling. Biogeography of species interactions: Integrating palm-frugivore
                        seed dispersal observations and functional traits at macroecological scales</p>  
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
