<section class="section conferences-section">
                <h2 class="section-title"><i class="fa fa-users"></i> Participation in conferences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Netherlands Annual Ecology Meeting - NAEM 2017, Netherlands</h3>
                            <div class="time">Feb 2017 </div>
                        </div><!--//upper-row-->
                        <div class="company">Poster</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> Gabriel Muñoz & W. Daniel Kissling. Biogeography of species interactions: Integrating palm-frugivore
                        seed dispersal observations and functional traits at macroecological scales</p>  
                    </div><!--//details-->
                </div><!--//item-->
  
              <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Networks in Ecology - The Netherlands Ecological Research Network (NERN), The Netherlands</h3>
                            <div class="time">Nov 2016 </div>
                        </div><!--//upper-row-->
                        <div class="company">Participation</div>
                    </div><!--//meta-->
                </div><!--//item-->
  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"> 21st Benelux Congress of Zoology, Netherlands</h3>
                            <div class="time">Sep 2015 </div>
                        </div><!--//upper-row-->
                        <div class="company">Participation</div>
                    </div><!--//meta-->
                </div><!--//item-->
  
                  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">IV Colombian Congress of Zoology, Colombia.</h3>
                            <div class="time"> Dic 2014 </div>
                        </div><!--//upper-row-->
                        <div class="company">Oral presentation, Poster</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> Oral presentation: Gabriel Muñoz & D.F. Cisneros-Heredia.  Estructura de la comunidad de arañas tejedoras (Araneae:Araneidae) 
                      en un gradiente altitudinal en los bosques nublados de los Andes del Nor-oriente Ecuatoriano. </p>  
                      <p> Poster: Diego F. Cisneros-Heredia & Gabriel Muñoz. Avances en el conocimiento sobre la diversidad de arañas
                      de la familia Araneidae en Ecuador. </p>
                    </div><!--//details-->
                </div><!--//item-->
  
            </section><!--//section-->
