<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i> Working Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">IBED - University of Amsterdam, Amsterdam</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Research assistant of prof. W.Daniel Kissling. My task in here is to develop a methodology to 
                      mine from published literature primary data on palm - frugivore interactions in South East Asia. I also explore 
                      new ways to analize and interactivly visualize data on species interactions </p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Laboratory Technician</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Terrestrial Zoology Lab - USFQ, Ecuador</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> I participated as contributor to the IUCN - Red List Assesment of Ecuadorian Endemic Reptiles, Amphibians and Birds. 
                      My main task was to update and aggregate available information on species occurrences for the Country. For Endemic Reptiles 
                      I provided the draft information (including distribution maps and distribution models) for the SIB tabs that were used for the assesment
                          workshop with the IUCN- SSC Amphibian and Reptiles Specialists Group. </p>  
                      <p> Other tasks in the lab involved the maintainance, taxonomic identification and curation of the araneid spider (Araneae:Araneidae)
                        collection of the lab (~800 specimens).In addition, I did informal assistance regarding specific questions on 
                      statistics and geographical information systems to biology and biotechnology bachelor students </p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UI Developer</h3>
                            <div class="time">2012 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Amazon, London</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
