<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i> Working Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">IBED - University of Amsterdam, Amsterdam</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Research assistant of prof. W.Daniel Kissling. My task in here is to develop a methodology to 
                      mine from published literature primary data on palm - frugivore interactions in South East Asia. I also explore 
                      new ways to analize and interactivly visualize data on species interactions </p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Laboratory Technician</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Terrestrial Zoology Lab - USFQ, Ecuador</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> I participated as contributor to the IUCN - Red List Assesment of Ecuadorian Endemic Reptiles, Amphibians and Birds. 
                      My main task was to update and aggregate available information on species occurrences for the Country. For Endemic Reptiles 
                      I provided the draft information (including distribution maps and distribution models) for the SIB tabs that were used for the assesment
                          workshop with the IUCN- SSC Amphibian and Reptiles Specialists Group. </p>  
                      <p> Other tasks in the lab involved the maintainance, taxonomic identification and curation of the araneid spider (Araneae:Araneidae)
                        collection of the lab (~800 specimens).In addition, I did informal assistance regarding specific questions on 
                      statistics and geographical information systems to biology and biotechnology bachelor students </p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Freelance consultant</h3>
                            <div class="time">2013 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Various projects, Ecuador</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> PNUD - Ecuadorian Ministry of Environent (MAE): Here, along with a team of consultants, I participated
                          in the development of a methodology to measure the management effectiveness of the Ecuadorian Protected Areas
                          System (SNAP). My main tasks in this project were to compile information on the management strategies for each
                          Protected Area within the system, field visits to the Protected Areas to conduct interviews with community people directly
                          under the influence of the Protected Area management regulations.</p>
                       <p>  Ecuadorian Ministry of Knowledge : Here I participated in the project 'Development of a proposal for the promotion
                      of Scientific Research in the Ecuadorian Amazon, "IKIAM"'. My main tasks were to gather information on Amazon Biodiversity, 
                         create maps of biogeographic regions within the amazon. 
                      </p>
                         <p>  WWF : Here I participated in the proposal for the project 'La Tintorera'. My main tasks were to analize data on tourist demand,
                           visitation and use of Isabela Island and the Tintorera Islet in Galapagos. 
                      </p>
                      
                    </div><!--//details-->
                </div><!--//item-->
                     <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">  Teaching assistant </h3>
                            <div class="time">2010 - 2012</div>
                        </div><!--//upper-row-->
                        <div class="company"> Prof. Diego Cisneros-Heredia USFQ, Ecuador</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> My tasks here were to help in grading for the courses of Zoology (2 sem), Biosphere (2 sem), 
                          Ornithology (1 sem)   </p>
      
                      
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
