
<section class="section internships-section">
   
  
  <h2 class="section-title"><i class="fa fa-plus-circle"></i>Internships and Volunteer work</h2>
                
     <div class="item">
                    <span class="project-title"><a href="http://www.yakusinchi.com/">
                      yakusinchiEarth
                      </a></span> - 
                  <span class="project-tagline">
                    Volunteer Biologist (2014)  
                  </span>
                  </div><!--//item-->
    <div class="item">
                    <span class="project-title"><a href="http://www.usfq.edu.ec/investigacion_y_creatividad/institutos_de_investigacion/tueri/Paginas/tueri.aspx">
                      Fondo Ayuda para la Fauna Silvestre - TUERI (2012-2013) </a></span> - 
                  <span class="project-tagline">
                    Volunteer Biologist.  
                  </span>
                  </div><!--//item-->
     <div class="item">
                    <span class="project-title"><a href="#hook reference here">
                      Hacienda Zuleta 
                      </a></span> - 
                  <span class="project-tagline">
                    Volunteer for the monitoring of Wild and Captive Condor (Vultur gryphus) (Feb. 2012)
                  </span>
                  </div><!--//item-->
  <div class="item">
                    <span class="project-title"><a href="">
                     Masphi Rainforest Reserve </a></span> - 
                  <span class="project-tagline"> Summer Internship (Jun 2011 - Sep 2011)
                  </span>
                </div><!--//item-->
    
    
      <div class="item">
                    <span class="project-title"> 
                      NAZCA institute  </span> - 
                  <span class="project-tagline"> Volunteer work with the school communities of Cabo San Francisco (Esmeraldas-Ecuador) (Mar 2011)
                  </span>
                </div><!--//item-->
   

            </section><!--//section-->
