<div class="professional-container container-block">
<h2 class="container-block-title">Professional Skills</h2>
<ul class="list-unstyled interests-list">
<li>Univariate and multivariate statistics</li>
<li>Spatial statistics</li>
<li>Geographical Information Systems</li>
<li>Remote Sensing </li>
<li>Automated Literature Searchs</li>
<li>Tropical Forest Ecology</li>
<li>Taxonomic Ontologies</li>
<li>Spiders diversity and taxonomy </li>
<li>Conservation</li>
<li>Ecosystem Management</li>
<li>Specimen Collection and Curation</li>
<li>Fieldwork Logistics </li>
<li>Photography </li>
</ul>
</div><!--//professional-->
