<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p></p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Ecological Event Miner</a></span> - 
                  <span class="project-tagline">A shiny app to text mine ecological events (such as species interactions) from published litereture.
                  </span>
                    
         
               
                </div><!--//item-->
            </section><!--//section-->
