<section class="section projects-section">
   
  
  <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
  <div class="item">
                    <p> <h3> Academic projects </h3></p>
                <div class="item">
                    <span class="project-title"><a href="https://fgabriel1891.github.io/RaphiaConnectivity/">
                      Tapir mediated seed dispersal connectivity of wetland patches dominated by Raphia taedigera (Yolillales) in
                      Nicaragua and Costa Rica (Feb 2017 - Aug 2017)   </a></span> - 
                  <span class="project-tagline">
                    2nd MSc. Research Project (UvA). 
                  </span>
                  </div><!--//item-->
     <div class="item">
                    <span class="project-title"><a href="#hook reference here">
                      Building a framework for retrieving information on multispecies interactions from published literature
                      </a></span> - 
                  <span class="project-tagline">
                    MSc. Literature thesis (UvA) (Nov 2016 - Feb 2017)  
                  </span>
                  </div><!--//item-->
     <div class="item">
                    <span class="project-title"><a href="#hook reference here">
                      Palm seed dispersal networks in the Afrotropics and Neotropics. Analisis of Structure and Biogeographical
                      differences. 
                      </a></span> - 
                  <span class="project-tagline">
                    1st MSc. Research project (UvA) (Ene 2016 -Jul 2016)
                  </span>
                  </div><!--//item-->
  <div class="item">
                    <span class="project-title"><a href="http://repositorio.usfq.edu.ec/bitstream/23000/2897/1/109374.pdf">Estructura de la comunidad de arañas tejedoras (Arachnida:Araneidae) a lo largo de un gradiente altitudinal en los Andes nor-orientales ecuatorianos</a></span> - 
                  <span class="project-tagline"> Bachelor Research Project (USFQ) (Feb-2012 - Feb- 2013)
                  </span>
                </div><!--//item-->
    
    
      <div class="item">
                    <span class="project-title"> Developing a protocol for the molecular sexing of Humpback Whales in the Pacific Coast of Ecuador </span> - 
                  <span class="project-tagline"> Arquimedes Scholarship Research Project (Jun - Sep 2010).
                  </span>
                </div><!--//item-->
               </div><!--//item-->
                <div class="item">
 <h3> Shiny applications </h3>
                <div class="item">
                    <span class="project-title"><a href="">Biodiversity Observations Miner</a></span> - 
                  <span class="project-tagline">A shiny app to text mine ecological events (such as species interactions) from published literature.
                  </span>
                  </div><!--//item-->
               <div class="item">
                  <span class="project-title"><a href="https://bookdown.org/fgabriel1891/ferrytimetableapp/">TDWG-Vis</a></span> - 
                  <span class="project-tagline"> A shiny app to visualize and download data on the TDWG World Geographical Scheme 
                     for Recording Plant Distributions. "Botanical Countries". Levels 1-4.
                  </span>
                </div><!--//item-->
                
  <div class="item">
                    <span class="project-title"><a href="https://bookdown.org/fgabriel1891/ferrytimetableapp/">Do I have to run for the Ferry?</a></span> - 
                  <span class="project-tagline">A small shiny app for the residents of NDSM in Amsterdam North, 
                    to check wether you should run to catch the next ferry or wait for the next one.
                  </span>
                </div><!--//item-->
               </div><!--//item-->
            </section><!--//section-->
