<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p></p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/fgabriel1891/Ecological_event_miner">Ecological Event Miner</a></span> - 
                  <span class="project-tagline">A shiny app to text mine ecological events (such as species interactions) from published literature.
                  </span>
                </div><!--//item-->
  <div class="item">
                    <span class="project-title"><a href="https://bookdown.org/fgabriel1891/ferrytimetableapp/">Do I have to run for the Ferry?</a></span> - 
                  <span class="project-tagline">A small shiny app for the residents of NDSM in Amsterdam North, 
                    to check wether you should run to catch the next ferry or wait for the next one.
                  </span>
                </div><!--//item-->
            </section><!--//section-->
