<section class="section conferences-section">
                <h2 class="section-title"><i class="fa fa-graduation-cap"></i> Scholarships and Grants </h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">MSc. Studies Scholarship</h3>
                            <div class="time"> 2014 </div>
                        </div><!--//upper-row-->
                        <div class="company">Senescyt (Secretaria Nacional de Ciencia y Tecnología)- Ecuador </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> Full scholarship for the MSc. studies in Ecology and Evolution at University of Amsterdam (UvA).
                          Duration: 2 years</p>  
                    </div><!--//details-->
                </div><!--//item-->
  
              <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">IV-Congreso Colombiano de Zoología</h3>
                            <div class="time"> 2014 </div>
                        </div><!--//upper-row-->
                        <div class="company"> Asociación Colombiana de Zoología (ACZ) - Colombia </div>
                      <div class="details">
                        <p> Travel grant for oral presentation at the IV Colombian Congress of Zoology  </p>  
                    </div><!--//meta-->
                </div><!--//item-->
  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"> IV Reunion Ecuatoriana de Ornitología </h3>
                            <div class="time"> 2014 </div>
                        </div><!--//upper-row-->
                        <div class="company">Aves y Conservación, Ecuador</div>
                      <div class="details">
                        <p> Travel grant for participation at the IV Reunión Ecuatoriana de Ornitología  </p>  
                    </div><!--//meta-->
                </div><!--//item-->
  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"> Tropical Ecology and Conservation Field Course </h3>
                            <div class="time"> 2014 </div>
                        </div><!--//upper-row-->
                        <div class="company"> The University of Manchester</div>
                      <div class="details">
                        <p> Scholarship for participation at the: BIOL20552 Tropical Ecology & Conservation Field Course  (Jul 2014) at 
                       TimburiCocha Research Station  </p>  
                    </div><!--//meta-->
                </div><!--//item-->
                  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">USFQ Chancellor Grant </h3>
                            <div class="time"> 2012 </div>
                        </div><!--//upper-row-->
                        <div class="company">Universidad San Francisco de Quito, Ecuador</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> Grant for the final thesis project: Estructura de la comunidad de arañas tejedoras de los Andes norte Ecuadorianos.
                      Supervisor: prof. Diego. F. Cisneros - Heredia. Duration: 1 year </p>  
                     
                    </div><!--//details-->
                </div><!--//item-->
  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"> Arquimides Scholarship for the Academic Excellence in Sciences</h3>
                            <div class="time">2010 </div>
                        </div><!--//upper-row-->
                        <div class="company">Universidad San Francisco de Quito, Ecuador</div>
                      <div class="details">
                        <p> Scholarship to promote university studies in Basic Sciences. Awarded for the duration of my BSc. studies 
                        in Biology. Duration: 3.5 years </p>  
                    </div><!--//meta-->
                </div><!--//item-->
  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"> Beca Talento Juvenil</h3>
                            <div class="time"> 1996 </div>
                        </div><!--//upper-row-->
                        <div class="company"> Fundacion Esquel, Ecuador</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>  Scholarship to promote the access to continous education to talented young. Duration: 6 years </p>  
                    
                    </div><!--//details-->
                </div><!--//item-->
    <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"> Scholarship Holder </h3>
                            <div class="time"> 1997 </div>
                        </div><!--//upper-row-->
                        <div class="company"> Fundacion Orquesta Juvenil- FOSJE, Ecuador </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>  Scholarship for violin orchesta studies. Duration: 4 years </p>  
                    
                    </div><!--//details-->
                </div><!--//item-->
    
 
            </section><!--//section-->
