<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Main Skills</h2>
             
                    
                     <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Professional Skills</h3>
                    <div class="details">
                        <p> - Univariate and multivariate statistics</p> 
                        <p> - Spatial statistics</p> 
                        <p> - Geographical Information Systems </p> 
                        <p> - Remote Sensing </p>
                        <p> - Automated Literature Searchs </p>
                        <p> - Tropical Forest Ecology </p>
                        <p> - Taxonomic ontologies </p>
                        <p> - Spiders diversity and taxonomy </p>
                        <p> - Conservation  </p>
                        <p> - Ecosystem management  </p>
                        <p> - Specimen collection techniques  </p>
                        <p> - Fieldwork logistics  </p>
                        <p> - Photography </p>
                    </div><!--//details-->
                </div><!--//item-->
                  
                         <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"> Computational Skills</h3>
                    <div class="details">
                        <p> - Data Carpentry</p> 
                        <p> - Static and interactive Data Visualization </p> 
                        <p> - Large scale and cloud based analysis </p> 
                        <p> - Collaborative project development </p>
                        <p> - Google Earth Engine </p>
                        <p> - ArgGIS </p>
                    </div><!--//details-->
                </div><!--//item-->
                      
                    <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"> Programatic Skills</h3>
                    <div class="details">
                        <p> - R</p> 
                        <p> - Python </p> 
                        <p> - Javascript </p> 
                        <p> - Shiny </p>
                        <p> - HTML </p>
                        <p> - NetLogo </p>
                       <p> - Markdown </p>
                    </div><!--//details-->
                </div><!--//item-->
                  
                   <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"> Laboratory Skills</h3>
                    <div class="details">
                        <p> - DNA Extraction Protocols</p> 
                        <p> - PCR </p> 
                        <p> - Electrophoresis </p>
                        <p> - Microscope photography </p> 
                        <p> - Museum curation techniques </p>
                    </div><!--//details-->
                </div><!--//item-->
                </div>  
            </section><!--//skills-section-->
